################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/Lab2/v16/ipch/AutoPCH/fe597589a88a1557
/.vs/Lab2/v16
/.vs
